importFrom(e1071, impute)
importFrom(robustbase, ltsReg)
importFrom(car, scatterplot.matrix)
importFrom(MASS, parcoord)

export(adjust, aDist, ilr, impCoda, impKNNa, invilr, robVariation, print.imp, summary.imp, plot.imp) 
