UseDynLib(robCompositions)
importFrom(robustbase, ltsReg)
importFrom(car, scatterplot.matrix)
importFrom(MASS, parcoord)
importFrom(utils, citation)

export(adjust, aDist, adtest, adtestWrapper, alr, alrEM, clr,  
       constSum, print.adtestWrapper, summary.adtestWrapper, 
       ilr, impCoda, impKNNa, invalr, invclr, invilr, robVariation, 
       print.imp, summary.imp, plot.imp, outCoDa, print.outCoDa,
       plot.outCoDa, print.pcaCoDa, pcaCoDa, plot.pcaCoDa, pfa) 
